<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="app">
			
			<input type="text" v-model="num">
			<p v-if=" num>massage">猜大了</p>
			<p v-if=" num<massage">猜小了</p>
			<p v-if=" num==massage">猜对了</p>
		</div>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script  type="text/javascript" >
			let v=new Vue({
				el:'#app',
				data:{
					massage:Math.round(Math.random()*100),
					num:'请输入数字'
				}
			})
		</script>
	</body>
</html>
